absl-py==0.9.0
astroid==2.4.2
cachetools==4.1.0
certifi==2020.4.5.2
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
enum-compat==0.0.3
facenet==1.0.5
future==0.18.2
google-auth==1.17.2
google-auth-oauthlib==0.4.1
grpcio==1.29.0
hydra-core==0.11.3
idna==2.9
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==1.6.1
isort==4.3.21
joblib==0.14.1
Keras==2.1.5
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
matplotlib==3.2.1
mccabe==0.6.1
networkx==2.4
numpy==1.18.5
oauthlib==3.1.0
omegaconf==1.4.1
opencv-python==4.2.0.34
pandas==1.0.3
Pillow==7.1.2
protobuf==3.12.2
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.1.0.post3
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
sentencepiece==0.1.91
Shapely==1.7.0
six==1.15.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tifffile==2020.6.3
toml==0.10.1
torch==1.5.0
torch-model-archiver==0.1.1
torchserve==0.1.1
torchvision==0.6.0
tqdm==4.46.0
typed-ast==1.4.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.30.0
zipp==3.1.0
